# Sistema Operativo y Editores
.DS_Store
.vscode/
.idea/

# Node.js / Dependencias (Ignora cualquier node_modules en cualquier nivel)
**/node_modules/

# Archivos de caché y generados por Vite (Ignora cualquier .vite/ y dist/ en cualquier nivel)
**/.vite/
**/dist/
**/build/
**/coverage/

# Logs y variables de entorno sensibles
*.log
*.sqlite
.env

# Archivos de paquetes
*.zip
*.tar.gz
